[tool.poetry]
name = "ipfabric"
version = "0.2.4"
description = "Python package for interacting with IP Fabric"
authors = [
    "Justin Jeffery <justin.jeffery@ipfabric.io>",
    "Community Fabric <communityfabric@ipfabric.io>"
]
license = "MIT"
readme = "README.md"
homepage = "https://ipfabric.io/"
repository = "https://github.com/community-fabric/python-ipfabric"
keywords = ["ipfabric", "ip-fabric", "community-fabric"]


[tool.poetry.dependencies]
python = "^3.6.2"
httpx = "^0.21.1"
python-dateutil = "^2.8.2"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"
python-semantic-release = "^7.23.0"
tabulate = "^0.8.9"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variable = [
    "ipfabric/__init__.py:__version__"
]
version_toml = [
    "pyproject.toml:tool.poetry.version"
]
major_on_zero = false
branch = "main"
upload_to_repository = true
repository = "pypi"
upload_to_release = true
build_command = "poetry build"
