# This is a basic workflow to help you get started with Actions

name: Slack Publisher

# Controls when the workflow will run
on:
  release:
    types: [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  notify:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Get version from tag
        id: version
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
        shell: bash

      - name: Notify on Slack
        uses: openhousepvt/slack@v1.3.2
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          platform: 'pypi'
          version: ${{ steps.version.outputs.version }}
        if: success()
